@font-face {
    font-family: Graviola;
    src: url(../fonts/graviola-soft-medium.otf);
}


* {
    font-family: 'Lato', sans-serif;
}

body {
    background-image: url(../img/bg-scholarships.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

.card-header {
    font-family: 'Graviola', sans-serif;
    font-size: 2em;
}

.icons {
    transform: scale(3);
    padding: 25px;
}

.btn-raised {
    border-radius: 2em !important;
    background-color: #ff356f !important;
}

.btn-send:hover {
    background-color: #b72d55 !important;
}

.modal-dialog {
    overflow-y: initial !important;
}

.modal-img {
    margin-top: 15px;
}

.modal-body {
    height: 250px;
    overflow-y: auto;
}

.embed-responsive {
    margin: 5px;
}