<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="css/home.css">
    <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">
    <link rel="stylesheet"
        href="https://unpkg.com/bootstrap-material-design@4.1.1/dist/css/bootstrap-material-design.min.css"
        integrity="sha384-wXznGJNEXNG1NFsbm0ugrLFMQPWswR3lds2VeinahP8N0zJw9VWSopbjv2x7WCvX" crossorigin="anonymous">
    <link rel="icon" href="img/cropped-favicon-1-32x32.png">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <title>Home</title>
</head>

<body>
    <nav class="navbar navbar-expand-lg bg-light">
        <a href="home.html" class="navbar-brand mx-auto"><img src="img/logo-mediacenter.png" alt="Logo Media Center"
                style="width: 210px"></a>
    </nav>

    <div class="bg-light">
        <nav class="navbar navbar-expand-lg">
            <div class="container">
                <a class="nav-link active" href="#">Dashboard</a>
                <a class="nav-link" href="#">
                    Usuários
                    <span class="badge badge-pill bg-light align-text-bottom">27</span>
                </a>
                <a class="nav-link" href="#">Atualizações</a>
                <a class="nav-link" href="#">Sugestões</a>
                <a class="nav-link" href="upload.html">Upload</a>
                <a class="nav-link" href="confeccao.html">Confecção</a>
            </div>
        </nav>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-sm-12 mt-4 mb-4">
                <h2 class="text-center title">Detalhes</h2>
            </div>
        </div>
    </div>

    <section class="cards mb-5 text-center">
        <div class="container-fluid">
            <div class="row">
                <div class="col-sm-12 col-lg-3 col-md-6">
                    <div class="card ">
                        <div class="card-header">Posts</div>
                        <div class="card-body">
                            <p class="card-text">59</p>
                            <i class="material-icons icon">photo_library</i>
                        </div>
                    </div>
                </div>
                <div class="col-sm-12 col-lg-3 col-md-6">
                    <div class="card ">
                        <div class="card-header">Likes</div>
                        <div class="card-body">
                            <p class="card-text">13</p>
                            <i class="material-icons icon">thumb_up</i>
                        </div>
                    </div>
                </div>
                <div class="col-sm-12 col-lg-3 col-md-6">
                    <div class="card ">
                        <div class="card-header">Comentários</div>
                        <div class="card-body">
                            <p class="card-text">22</p>
                            <i class="material-icons icon">comment</i>
                        </div>
                    </div>
                </div>
                <div class="col-sm-12 col-lg-3 col-md-6">
                    <div class="card ">
                        <div class="card-header">Reações</div>
                        <div class="card-body">
                            <p class="card-text">63</p>
                            <i class="material-icons icon">sentiment_very_satisfied</i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <div class="container-fluid">
        <div class="my-3 p-3 bg-white rounded box-shadow">
            <h6 class="border-bottom border-gray pb-2 mb-0 update-title">Atualizações recentes</h6>
            <div class="media text-muted pt-3">
                <p class="media-body pb-3 mb-0 small lh-125 border-bottom border-gray">
                    <strong class="d-block text-gray-dark">@username</strong>
                    Vice de futebol diz que Cruzeiro tem até 15 de maio para pagar dívida por Latorre
                </p>
            </div>
            <div class="media text-muted pt-3">
                <p class="media-body pb-3 mb-0 small lh-125 border-bottom border-gray">
                    <strong class="d-block text-gray-dark">@username</strong>
                    Governo muda de atitude para tentar angariar apoio no Congresso ao projeto de reforma
                    previdenciária, enquanto tudo fica parado aguardando sinais positivos
                </p>
            </div>
            <div class="media text-muted pt-3">
                <p class="media-body pb-3 mb-0 small lh-125 border-bottom border-gray">
                    <strong class="d-block text-gray-dark">@username</strong>
                    Honda, Yamaha, Suzuki e Kawasaki se unem para desenvolver motos elétricas

                </p>
            </div>
            <div class="media text-muted pt-3">
                <p class="media-body pb-3 mb-0 small lh-125 border-bottom border-gray">
                    <strong class="d-block text-gray-dark">@username</strong>
                    Papa reúne membros da Igreja para cúpula sobre escândalos sexuais.
                    Apesar de sofrer críticas por ser uma medida insuficiente, a instituição é ainda uma das poucas a
                    reconhecer e tentar combater os crimes sexuais
                </p>
            </div>
            <small class="d-block text-right mt-3">
                <a href="#">Mostrar todas as atualizações</a>
            </small>
        </div>
    </div>

    <div class="container-fluid">
        <div class="my-3 p-3 bg-white rounded box-shadow">
            <h6 class="border-bottom border-gray pb-2 mb-0 suggestion-title">Sugestões</h6>
            <div class="media text-muted pt-3">
                <div class="media-body pb-3 mb-0 small lh-125 border-bottom border-gray">
                    <div class="d-flex justify-content-between align-items-center w-100">
                        <strong class="text-gray-dark">Nome Completo</strong>
                        <a href="#">Seguir</a>
                    </div>
                    <span class="d-block">@username</span>
                </div>
            </div>
            <div class="media text-muted pt-3">
                <div class="media-body pb-3 mb-0 small lh-125 border-bottom border-gray">
                    <div class="d-flex justify-content-between align-items-center w-100">
                        <strong class="text-gray-dark">Nome Completo</strong>
                        <a href="#">Seguir</a>
                    </div>
                    <span class="d-block">@username</span>
                </div>
            </div>
            <div class="media text-muted pt-3">
                <div class="media-body pb-3 mb-0 small lh-125 border-bottom border-gray">
                    <div class="d-flex justify-content-between align-items-center w-100">
                        <strong class="text-gray-dark">Nome Completo</strong>
                        <a href="#">Seguir</a>
                    </div>
                    <span class="d-block">@username</span>
                </div>
            </div>
            <small class="d-block text-right mt-3">
                <a href="#">Todas as sugestões</a>
            </small>
        </div>
    </div>



    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
    <script src="https://unpkg.com/popper.js@1.12.6/dist/umd/popper.js"
        integrity="sha384-fA23ZRQ3G/J53mElWqVJEGJzU0sTs+SvzG8fXVWP+kJQ1lwFAOkcUOysnlKJC33U"
        crossorigin="anonymous"></script>
    <script src="https://unpkg.com/bootstrap-material-design@4.1.1/dist/js/bootstrap-material-design.js"
        integrity="sha384-CauSuKpEqAFajSpkdjv3z9t8E7RlpJ1UP0lKM/+NdtSarroVKu069AlsRPKkFBz9"
        crossorigin="anonymous"></script>
    <script>$(document).ready(function () { $('body').bootstrapMaterialDesign(); });</script>
</body>

</html>