<!DOCTYPE html>
<html lang="pt-BR" xmlns:th="http://www.thymeleaf.org">

<head>
<meta charset="UTF-8">
<meta name="viewport"
	content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
<meta http-equiv="X-UA-Compatible" content="ie=edge">
<link href="https://fonts.googleapis.com/icon?family=Material+Icons"
	rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Lato"
	rel="stylesheet">
<link rel="stylesheet"
	href="https://unpkg.com/bootstrap-material-design@4.1.1/dist/css/bootstrap-material-design.min.css">
<link rel="icon" href="/img/cropped-favicon-1-32x32.png">

<link href="/css/froala_style.min.css" rel="stylesheet" type="text/css" />

<link rel="stylesheet" href="/css/timeline.css">

<title>Timeline</title>
</head>

<body>

	<nav class="navbar navbar-expand-lg sticky-top">
		<a href="/" class="navbar-brand"><img
			src="/img/logo-mediacenter-bgwhite.png" alt="Logo Media Center"
			style="width: 210px"></a>
		<button class="navbar-toggler" type="button" data-toggle="collapse"
			data-target="#navbar" aria-controls="navbarNavAltMarkup"
			aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>
		<th:block></th:block>
		<select class="p-1" style="border-radius: 5px;" id="locales">
			<option value="" th:text="#{lang.esc}"></option>
			<option value="en" th:text="#{lang.eng}"></option>
			<option value="pt" th:text="#{lang.pt}"></option>
			<option value="es" th:text="#{lang.es}"></option>
		</select>
		<div class="collapse navbar-collapse" id="navbar">
			<form class="form-inline my-2  ml-auto my-lg-0">
				<input class="form-control mr-sm-2" type="search"
					th:placeholder="#{pesquisar}" aria-label="Search">
				<button class="btn btn-outline-success my-2 my-sm-0" type="submit"
					th:text="#{pesquisar}"></button>
			</form>
		</div>
	</nav>

	<div class="container-fluid">
		<div class="row profile">
			<div class="col-md-2">
				<div class="profile-sidebar">
					<div class="profile-user-pic">
						<img src="/img/avatar-372-456324.png" alt="Usuário"
							class="img-responsive img-circle img-user">
					</div>
					<div class="profile-user-title" th:if="${usuario}">
						<div class="profile-user-name" th:id="${usuario.id}"
							th:text="${usuario.usuario}"></div>
						<div class="profile-user-job">
							<span class="badge badge-primary profissao-badge"
								th:text="#{${usuario.tipo}}"></span>
						</div>
					</div>
					<div class="profile-user-title" th:if="${usuario} == null">
						<div class="profile-user-name" th:text="#{convidado}"></div>
						<div class="profile-user-job">
							<span class="badge badge-primary profissao-badge" th:text="#{comum}"></span>
						</div>
					</div>
					<hr>
					<div class="profile-user-buttons">
						<a href="/usuarios/editar" class="btn btn-outline-success"
							th:text="#{informacoes}"></a> <a href="/logout"><button
								class="btn btn-danger btn-sm" th:text="#{sair}"></button></a>
					</div>
				</div>
			</div>
			<div class="col-lg-8 m-auto col-sm-12 col-md-12">
				<!--tabs-->
				<nav>
					<div class="nav nav-tabs" id="nav-tab" role="tablist">
						<a href="#recentes" id="nav-recentes-tab"
							class="nav-item nav-link active" data-toggle="tab"
							aria-controls="recentes" th:text="#{mais-recentes}"></a> <a
							href="#lidas" id="nav-lidas-tab" class="nav-item nav-link"
							data-toggle="tab" aria-controls="lidas" th:text="#{mais-lidas}">
							</a> <a href="#tags" id="nav-tags-tab" class="nav-item nav-link"
							data-toggle="tab" aria-controls="nav-tags"
							th:text="#{busca-por-tag}"></a>
					</div>
				</nav>
				<div class="tab-content" id="nav-tabContent">
					<!--Mais recentes-->
					<div class="tab-pane fade show active" id="recentes"
						role="tabpanel" aria-labelledby="nav-recentes-tab">
						<div class="container">
							<div class="row">
								<div class="col-sm-12 col-lg-12"
									th:each="conteudo : ${maisRecentes}">
									<div class="card mt-4">
										<div class="card-header">
											<a class="card-link"
												th:href="@{/conteudos/} + ${conteudo.id}">
												<h5 class="card-title mb-4" th:text="${conteudo.titulo}"></h5>
											</a> <small class="text-muted"
												th:text="${conteudo.getFormatedData()}"></small>
										</div>
										<div class="card-body">
											<p class="card-text" th:text="${conteudo.descricao}"></p>
											<div class="content fr-view" th:utext="${conteudo.conteudo}"></div>
											<div class="post-tags mt-2">
												<th:block th:each="tag : ${conteudo.tags}">												
													<span th:text="${tag.nome}" class="badge badge-primary"></span>
												</th:block>
											</div>
										</div>
										<div class="card-footer" th:if="${usuario}">
											<div class="row">
												<div class="col-4 feedback-positivo">
													<button type="button" th:id="${conteudo.id}"
														class="atribuirConteudo enviar-feedback-positivo btn btn-secondary bmd-btn"
														style="width: 100%">
														<i class="material-icons icon">thumb_up</i><th:block th:text="#{gostei}"></th:block>
													</button>
												</div>
												<div class="col-4 feedback-negativo">
													<button type="button" th:id="${conteudo.id}"
														class="atribuirConteudo enviar-feedback-negativo btn btn-secondary bmd-btn"
														style="width: 100%">
														<i class="material-icons icon">thumb_down</i><th:block th:text="#{nao-gostei}"></th:block>
													</button>
												</div>
												<div class="col-4">
													<button th:id="${conteudo.id}" type="button"
														class="atribuirConteudo btn btn-secondary bmd-btn"
														style="width: 100%" data-toggle="modal"
														data-target="#tag-modal">
														<i class="material-icons icon">comment</i>
														<th:block th:text="#{sugerir-tag}"></th:block>
													</button>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>

					<!--Mais lidas-->
					<div class="tab-pane fade" id="lidas" role="tabpanel"
						aria-labelledby="nav-lidas-tab">
						<div class="container">
							<div class="row">
								<div class="col-sm-12 col-lg-12"
									th:each="conteudo : ${maisLidas}">
									<div class="card mt-4">
										<div class="card-header">
											<a class="card-link"
												th:href="@{/conteudos/} + ${conteudo.id}">
												<h5 class="card-title mb-4" th:text="${conteudo.titulo}"></h5>
											</a> <small class="text-muted"
												th:text="${conteudo.getFormatedData()}"></small>
										</div>
										<div class="card-body">
											<p class="card-text" th:text="${conteudo.descricao}"></p>
											<div class="content fr-view" th:utext="${conteudo.conteudo}"></div>
											<div class="post-tags mt-2">
												<th:block th:each="tag : ${conteudo.tags}">												
													<span th:text="${tag.nome}" class="badge badge-primary"></span>
												</th:block>
											</div>
										</div>
										<div class="card-footer"  th:if="${usuario}">
											<div class="row">
												<div class="col-4 feedback-positivo">
													<button type="button" th:id="${conteudo.id}"
														class="atribuirConteudo enviar-feedback-positivo btn btn-secondary bmd-btn"
														style="width: 100%">
														<i class="material-icons icon">thumb_up</i><th:block th:text="#{gostei}"></th:block>
													</button>
												</div>
												<div class="col-4 feedback-negativo">
													<button type="button" th:id="${conteudo.id}"
														class="atribuirConteudo enviar-feedback-negativo btn btn-secondary bmd-btn"
														style="width: 100%">
														<i class="material-icons icon">thumb_down</i><th:block th:text="#{nao-gostei}"></th:block>
													</button>
												</div>
												<div class="col-4">
													<button type="button" th:id="${conteudo.id}"
														class="atribuirConteudo btn btn-secondary bmd-btn"
														style="width: 100%" data-toggle="modal"
														data-target="#tag-modal">
														<i class="material-icons icon">comment</i>
														<th:block th:text="#{sugerir-tag}"></th:block>
													</button>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>

					<!--Busca por tags-->
					<div class="tab-pane fade" id="tags" role="tabpanel"
						aria-labelledby="nav-tags-tab">
						<button type="button" class="btn btn-primary">
							Esportes <span aria-hidden="true">&times;</span>
						</button>
						<button type="button" class="btn btn-primary">
							Cultura <span aria-hidden="true">&times;</span>
						</button>
						<button type="button" class="btn btn-primary">
							Tecnologia <span aria-hidden="true">&times;</span>
						</button>
						<button type="button" class="btn btn-primary">
							Música <span aria-hidden="true">&times;</span>
						</button>
						<button type="button" class="btn btn-primary">
							Estudo <span aria-hidden="true">&times;</span>
						</button>
						<button type="button" class="btn btn-primary">
							Saúde <span aria-hidden="true">&times;</span>
						</button>
						<button type="button" class="btn btn-primary">
							Streams <span aria-hidden="true">&times;</span>
						</button>
						<button type="button" class="btn btn-primary">
							Jogos <span aria-hidden="true">&times;</span>
						</button>
						<button type="button" class="btn btn-primary">
							Política <span aria-hidden="true">&times;</span>
						</button>
						<button type="button" class="btn btn-primary">
							Religião <span aria-hidden="true">&times;</span>
						</button>
						<button type="button" class="btn btn-primary">
							Finanças <span aria-hidden="true">&times;</span>
						</button>
						<button type="button" class="btn btn-primary">
							Psicologia <span aria-hidden="true">&times;</span>
						</button>

					</div>
				</div>
			</div>
		</div>


	</div>

	<div class="modal fade" id="tag-modal" tabindex="-1" role="dialog"
		aria-labelledby="tag-modal" aria-hidden="true">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title" id="exampleModalLabel" th:text="#{sugerir-tag}"></h5>
					<button type="button" class="close" data-dismiss="modal"
						aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
				</div>
				<div class="modal-body">
					<form>
						<div class="form-group">
							<label for="sugestao" th:text="#{digite-tags}"></label> <input type="text"
								name="sugestao" id="sugestao" class="form-control">
						</div>
					</form>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-secondary"
						data-dismiss="modal" th:text="#{fechar}">Fechar</button>
					<button type="button" class="btn btn-primary enviar-sugestao">Enviar</button>
				</div>
			</div>
		</div>
	</div>




	<script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
	<script src="https://unpkg.com/popper.js@1.12.6/dist/umd/popper.js"></script>
	<script src="https://unpkg.com/bootstrap-material-design@4.1.1/dist/js/bootstrap-material-design.js"></script>
	<script>
		$(document).ready(function() {
			$('body').bootstrapMaterialDesign();
		});
	</script>
	<script type="text/javascript">
		$(document).ready(function() {
			var conteudo;
			var usuario = $('.profile-user-name').get(0).id;
			console.log("Id do usuario Logado: " + usuario);
			$('#locales').change(function() {
				var selectedOption = $('#locales').val();
				if (selectedOption != '') {
					window.location.replace('timeline?lang=' + selectedOption);
				}
			});
	
			$('.atribuirConteudo').click(function() {
				console.log("Entrou no click do atribuirConteudo. Conteudo atual: " + conteudo);
				conteudo = this.id;
				console.log("Como o conteudo está apoós a tranformação do click do atribuirConteudo: "+ conteudo);
			});
	
			$('.enviar-sugestao').click(function() {
				var sugestao = $('#sugestao').val();
				$.post(`/sugestoes?usuario=${usuario}&sugestao=${sugestao}&conteudo=${conteudo}`,function(data, status) {
					$('#tag-modal').modal('hide')
				});
			});
			
			$('.enviar-feedback-positivo').click(function() {
				var botao = this;
				var botaoContrario = $(this).parent().parent().children('.feedback-negativo').children();
				$.post(`/feedbacks/positivo?usuario=${usuario}&conteudo=${conteudo}`,function(data, status) {
					console.log("Id do botão clicado : " + botao.id);
					$(botao).children('.icon').css("color", "#353c86")
					botaoContrario.children('.icon').css("color", "#6c757d")
				});
			});
			
			$('.enviar-feedback-negativo').click(function() {
				var botao = this;
				var botaoContrario = $(this).parent().parent().children('.feedback-positivo').children();
				$.post(`/feedbacks/negativo?usuario=${usuario}&conteudo=${conteudo}`,function(data, status) {
					console.log("Id do botão clicado : " + botao.id);
					$(botao).children('.icon').css("color", "#353c86");
					botaoContrario.children('.icon').css("color", "#6c757d")
				});
			});
			$.get(`/feedbacks/positivo/usuario/?usuario=${usuario}`,function(data, status) {
				console.log("Entrou no histórico de feedbacks positivos")
				var feedbacks = data;
				$('.enviar-feedback-positivo').each(function(index){
					if(feedbacks.includes(this.id)){
						$(this).children('.icon').css("color", "#353c86");
					}
				});
			});
			$.get(`/feedbacks/negativo/usuario/?usuario=${usuario}`,function(data, status) {
				console.log("Entrou no histórico de feedbacks negativos")
				var feedbacks = data;
				$('.enviar-feedback-negativo').each(function(index){
					if(feedbacks.includes(this.id)){
						$(this).children('.icon').css("color", "#353c86");
					}
				});
			});
		});
	</script>
</body>
</html>