<!DOCTYPE html>
<html lang="pt-BR" xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">
	<link rel="stylesheet"
		href="https://unpkg.com/bootstrap-material-design@4.1.1/dist/css/bootstrap-material-design.min.css">
	<link rel="icon" href="/img/cropped-favicon-1-32x32.png">

	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.4.0/css/font-awesome.min.css">
	<link rel="stylesheet" href="/css/froala_editor.css">
	<link rel="stylesheet" href="/css/froala_style.css">
	<link rel="stylesheet" href="/css/plugins/code_view.css">
	<link rel="stylesheet" href="/css/plugins/draggable.css">
	<link rel="stylesheet" href="/css/plugins/colors.css">
	<link rel="stylesheet" href="/css/plugins/emoticons.css">
	<link rel="stylesheet" href="/css/plugins/image_manager.css">
	<link rel="stylesheet" href="/css/plugins/image.css">
	<link rel="stylesheet" href="/css/plugins/line_breaker.css">
	<link rel="stylesheet" href="/css/plugins/table.css">
	<link rel="stylesheet" href="/css/plugins/char_counter.css">
	<link rel="stylesheet" href="/css/plugins/video.css">
	<link rel="stylesheet" href="/css/plugins/fullscreen.css">
	<link rel="stylesheet" href="/css/plugins/file.css">
	<link rel="stylesheet" href="/css/plugins/quick_insert.css">
	<link rel="stylesheet" href="/css/plugins/help.css">
	<link rel="stylesheet" href="/css/third_party/spell_checker.css">
	<link rel="stylesheet" href="/css/plugins/special_characters.css">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.3.0/codemirror.min.css">

	<link rel="stylesheet" href="/css/timeline.css">

	<title>Timeline</title>
</head>

<body>
	<nav class="navbar navbar-expand-lg sticky-top">
		<a href="/" class="navbar-brand"><img src="/img/logo-mediacenter-bgwhite.png" alt="Logo Media Center"
				style="width: 210px"></a>
		<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar"
			aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>
		<div class="collapse navbar-collapse" id="navbar">
			<div class="form-inline ml-auto my-2 my-lg-0">
				<th:block th:if="${usuario}">
					<a th:if="${usuario.tipo.toString()} == ESTAGIARIO" class="nav-link btn-outline-success"
						href="/sugestoes/dashboard" th:text="#{dashboard}"></a>
					<a th:if="${usuario.tipo.toString()} == ADMINISTRADOR" class="nav-link btn-outline-success"
						href="/sugestoes/dashboard" th:text="#{dashboard}"></a>
				</th:block>
				&nbsp
				<div class="dropdown mr-5">
					<button class="btn btn-outline-danger dropdown-toggle" type="button" id="dropdownMenuButton"
						data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
						<i class="material-icons" style="vertical-align: middle;">language</i>
					</button>
					<div class="dropdown-menu text-uppercase" aria-labelledby="dropdownMenuButton">
						<a class="dropdown-item" th:text="#{lang.eng}" href="?lang=en"></a>
						<a class="dropdown-item" th:text="#{lang.es}" href="?lang=es"></a>
						<a class="dropdown-item" th:text="#{lang.pt}" href="?lang=pt"></a>
					</div>
				</div>
			</div>
		</div>
	</nav>

	<div class="container-fluid">
		<div class="row profile">
			<div class="col-md-2">
				<div class="profile-sidebar">
					<div class="profile-user-pic">
						<img src="/img/avatar-372-456324.png" alt="Usuário" class="img-responsive img-circle img-user">
					</div>
					<div class="profile-user-title" th:if="${usuario}">
						<div class="profile-user-name" th:id="${usuario.id}" th:text="${usuario.usuario}"></div>
						<div class="profile-user-job">
							<span class="badge badge-primary profissao-badge" th:text="#{${usuario.tipo}}"></span>
						</div>
					</div>
					<div class="profile-user-title" th:if="${usuario} == null">
						<div class="profile-user-name" th:text="#{convidado}"></div>
						<div class="profile-user-job">
							<span class="badge badge-primary profissao-badge" th:text="#{COMUM}"></span>
						</div>
					</div>
					<div class="profile-user-buttons">
						<a th:if="${usuario} == null" href="/usuarios/login" class="btn btn-outline-success"
							th:text="#{login}"></a> <a th:if="${usuario}" href="/logout"><button
								class="btn btn-danger btn-sm" th:text="#{sair}"></button></a>
					</div>
					<hr>
					<div class="search">
						<form method="get" action="/tags/conteudo" class="form-inline">
							<div class="form-group tag-search">
								<label for="tagsParam" th:text="#{pesquisar}"></label>
								<input type="text" name="tagsParam" id="tagsParam" class="form-control">
							</div>
							<button type="submit" class="btn btn-outline-primary mt-4" th:text="#{pesquisar}"></button>
						</form>
						<div class="categorias">
							<span class="badge badge-info text-uppercase mb-2" th:text="#{busca-por-categoria}"></span>
							<div class="row" th:each="categoria : ${categorias}">
								<a class="m-auto" th:href="@{/categorias/conteudo/} + ${categoria.id}">
									<button type="button" class="m-auto buscaCategoria btn btn-primary"
									th:id="${categoria.id}">
										<th:block th:text="${categoria.nome}"></th:block>
										<span class="badge badge-primary badge-categoria" th:text="${categoria.conteudos.size()}"></span>
									</button>
								</a>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="col-lg-8 m-auto col-sm-12 col-md-12">
				<!--tabs-->
				<nav>
					<div class="nav nav-tabs" id="nav-tab" role="tablist">
						<a href="#recentes" id="nav-recentes-tab" class="nav-item nav-link active" data-toggle="tab"
							aria-controls="recentes" th:text="#{mais-recentes}"></a> <a href="#lidas" id="nav-lidas-tab"
							class="nav-item nav-link" data-toggle="tab" aria-controls="lidas" th:text="#{melhores}">
						</a>
					</div>
				</nav>
				<div class="tab-content" id="nav-tabContent">
					<!--Mais recentes-->
					<div class="tab-pane fade show active" id="recentes" role="tabpanel"
						aria-labelledby="nav-recentes-tab">
						<div class="container">
							<div class="row">
								<div class="col-sm-12 col-lg-12" th:each="conteudo : ${maisRecentes}">
									<div class="card mt-4">
										<div class="card-header">
											<a class="card-link" href="#">
												<h5 class="card-title mb-4" th:text="${conteudo.titulo}"></h5>
											</a>
											<p class="card-text" th:text="${conteudo.descricao}"></p>
											<small class="text-muted" th:text="${conteudo.getFormatedData()}"></small>
										</div>
										<div class="card-body">
											<div class="content fr-view" th:utext="${conteudo.conteudo}"></div>
											<div class="post-tags mt-2">
												<th:block th:each="tag : ${conteudo.tags}">
													<span th:text="${tag.nome}" class="badge badge-primary"></span>
												</th:block>
											</div>
										</div>
										<div class="card-footer" th:if="${usuario}">
											<div class="row">
												<div class="col-sm-6 col-md-4 feedback-positivo">
													<button type="button" th:id="${conteudo.id}"
														class="atribuirConteudo enviar-feedback-positivo btn btn-secondary bmd-btn"
														style="width: 100%">
														<i class="material-icons icon">thumb_up</i>
														<th:block th:text="#{gostei}"></th:block>
													</button>
												</div>
												<div class="col-sm-6 col-md-4 feedback-negativo">
													<button type="button" th:id="${conteudo.id}"
														class="atribuirConteudo enviar-feedback-negativo btn btn-secondary bmd-btn"
														style="width: 100%">
														<i class="material-icons icon">thumb_down</i>
														<th:block th:text="#{nao-gostei}"></th:block>
													</button>
												</div>
												<div class="col-sm-6 col-md-4">
													<button th:id="${conteudo.id}" type="button"
														class="atribuirConteudo btn btn-secondary bmd-btn"
														style="width: 100%" data-toggle="modal"
														data-target="#tag-modal">
														<i class="material-icons icon">comment</i>
														<th:block th:text="#{sugerir-tag}"></th:block>
													</button>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>

					<!--Mais lidas-->
					<div class="tab-pane fade" id="lidas" role="tabpanel" aria-labelledby="nav-lidas-tab">
						<div class="container">
							<div class="row">
								<div class="col-sm-12 col-lg-12" th:each="conteudo : ${maisPositivas}">
									<div class="card mt-4">
										<div class="card-header">
											<a class="card-link" href="#">
												<h5 class="card-title mb-4" th:text="${conteudo.titulo}"></h5>
											</a>
											<p class="card-text" th:text="${conteudo.descricao}"></p>
											<small class="text-muted" th:text="${conteudo.getFormatedData()}"></small>
										</div>
										<div class="card-body">
											<div class="content fr-view" th:utext="${conteudo.conteudo}"></div>
											<div class="post-tags mt-2">
												<th:block th:each="tag : ${conteudo.tags}">
													<span th:text="${tag.nome}" class="badge badge-primary"></span>
												</th:block>
											</div>
										</div>
										<div class="card-footer" th:if="${usuario}">
											<div class="row">
												<div class="col-4 feedback-positivo">
													<button type="button" th:id="${conteudo.id}"
														class="atribuirConteudo enviar-feedback-positivo btn btn-secondary bmd-btn"
														style="width: 100%">
														<i class="material-icons icon">thumb_up</i>
														<th:block th:text="#{gostei}"></th:block>
													</button>
												</div>
												<div class="col-4 feedback-negativo">
													<button type="button" th:id="${conteudo.id}"
														class="atribuirConteudo enviar-feedback-negativo btn btn-secondary bmd-btn"
														style="width: 100%">
														<i class="material-icons icon">thumb_down</i>
														<th:block th:text="#{nao-gostei}"></th:block>
													</button>
												</div>
												<div class="col-4">
													<button type="button" th:id="${conteudo.id}"
														class="atribuirConteudo btn btn-secondary bmd-btn"
														style="width: 100%" data-toggle="modal"
														data-target="#tag-modal">
														<i class="material-icons icon">comment</i>
														<th:block th:text="#{sugerir-tag}"></th:block>
													</button>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>


	</div>

	<div class="modal fade" id="tag-modal" tabindex="-1" role="dialog" aria-labelledby="tag-modal" aria-hidden="true">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title" id="exampleModalLabel" th:text="#{sugerir-tag}"></h5>
					<button type="button" class="close" data-dismiss="modal" aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
				</div>
				<div class="modal-body">
					<form>
						<div class="form-group">
							<label for="sugestao" th:text="#{digite-tags}"></label> <input type="text" name="sugestao"
								id="sugestao" class="form-control">
						</div>
					</form>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-secondary" data-dismiss="modal"
						th:text="#{fechar}"></button>
					<button type="button" class="btn btn-primary enviar-sugestao" th:text="#{enviar}"></button>
				</div>
			</div>
		</div>
	</div>



	<script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
	<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
	<script type="text/javascript"
		src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.3.0/codemirror.min.js"></script>
	<script type="text/javascript"
		src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.3.0/mode/xml/xml.min.js"></script>

	<script type="text/javascript" src="/js/froala_editor.min.js"></script>
	<script type="text/javascript" src="/js/plugins/align.min.js"></script>
	<script type="text/javascript" src="/js/plugins/char_counter.min.js"></script>
	<script type="text/javascript" src="/js/plugins/code_beautifier.min.js"></script>
	<script type="text/javascript" src="/js/plugins/code_view.min.js"></script>
	<script type="text/javascript" src="/js/plugins/colors.min.js"></script>
	<script type="text/javascript" src="/js/plugins/draggable.min.js"></script>
	<script type="text/javascript" src="/js/plugins/emoticons.min.js"></script>
	<script type="text/javascript" src="/js/plugins/entities.min.js"></script>
	<script type="text/javascript" src="/js/plugins/file.min.js"></script>
	<script type="text/javascript" src="/js/plugins/font_size.min.js"></script>
	<script type="text/javascript" src="/js/plugins/font_family.min.js"></script>
	<script type="text/javascript" src="/js/plugins/fullscreen.min.js"></script>
	<script type="text/javascript" src="/js/plugins/image.min.js"></script>
	<script type="text/javascript" src="/js/plugins/image_manager.min.js"></script>
	<script type="text/javascript" src="/js/plugins/line_breaker.min.js"></script>
	<script type="text/javascript" src="/js/plugins/inline_style.min.js"></script>
	<script type="text/javascript" src="/js/plugins/link.min.js"></script>
	<script type="text/javascript" src="/js/plugins/lists.min.js"></script>
	<script type="text/javascript" src="/js/plugins/paragraph_format.min.js"></script>
	<script type="text/javascript" src="/js/plugins/paragraph_style.min.js"></script>
	<script type="text/javascript" src="/js/plugins/quick_insert.min.js"></script>
	<script type="text/javascript" src="/js/plugins/quote.min.js"></script>
	<script type="text/javascript" src="/js/plugins/table.min.js"></script>
	<script type="text/javascript" src="/js/plugins/save.min.js"></script>
	<script type="text/javascript" src="/js/plugins/url.min.js"></script>
	<script type="text/javascript" src="/js/plugins/video.min.js"></script>
	<script type="text/javascript" src="/js/plugins/help.min.js"></script>
	<script type="text/javascript" src="/js/plugins/print.min.js"></script>
	<script type="text/javascript" src="/js/third_party/spell_checker.min.js"></script>
	<script type="text/javascript" src="/js/plugins/special_characters.min.js"></script>
	<script type="text/javascript" src="/js/plugins/word_paste.min.js"></script>

	<script src="https://unpkg.com/popper.js@1.12.6/dist/umd/popper.js"></script>
	<script src="https://unpkg.com/bootstrap-material-design@4.1.1/dist/js/bootstrap-material-design.js"></script>
	<script>
		$(document).ready(function () {
			$('body').bootstrapMaterialDesign();
		});
	</script>
	<script type="text/javascript" src="/js/timeline.js"></script>
</body>

</html>